body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.sidebar {
  height: 100%;
  width: 200px;
  position: absolute;
  left: 0;
  top: 0;
  padding-top: 40px;
  background-color: rgba(15, 27, 190, 0.356);
  font-size: 25px;
}

.sidebar div {
  padding: 8px;
  font-size: 20px;
  display: block;
}

.body-text {
  margin-left: 150px;
  font-size: 18px;
}

.App {
  text-align: center;
}

.flex-row {
  display: flex;
  justify-content: center;
}
#bg {
  position: fixed; 
  top: 0; 
  left: 0; 
  min-width: 100%;
  min-height: 100%;
}