/* COLORS */

:root {
  --primary: #1A8589;
  --secondary: #C2FFFF;
  --tertiary: #EFE7DA;
  --quaternary: #edf6f9;
}

/* RESET */

*{
	box-sizing: border-box;
  }
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 10px;
	font: inherit;
	vertical-align: baseline;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(245, 245, 245);
}
.App {
  text-align: center;
}
.flex-row {
  display: flex;
  flex-wrap: wrap;
}
.flex-columm {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
#bg {
  position: fixed; 
  top: 0; 
  left: 0; 
  min-width: 100%;
  min-height: 100%;
}
.centerSiLo {
  text-align: center;
}
.main-container {
  width: calc(100% - 240px);
  position:absolute;
  right: 0;
}
.head-container {
  width: calc(100% - 240px);
  margin: auto;
}
.balance {
  margin: auto;
  max-width:180px;
  min-width: 100px !important;
  background-color: white;
  border-radius: 6%;
  padding: 50px;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 20px;
}

#BarChart {
  background-color: white;
  border-radius: 4%;
  display: block;
  width: 500px;
 
}

.box1 {
width: auto;
margin: auto;
}
.newState {
 max-width: 400px;
 align-items: center;
 margin: auto;
 width: 50%;
 padding: 10px;
 background-color: white;
 border-radius: 6%;
 margin-top: 40px;
}
.error-Page {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    border-radius: 5%;
    font-size: xx-large;
    background-color: rgba(255, 255, 255, 0.466);
    padding: 15px;
    text-align: center;
    border: 5px;
}
.error-Page a h6 h2{
  font-size:larger;
} 

.user-avatar{
  max-width: 100px;
}
.user-profile {
  margin: auto;
  width: max-content;
  height: max-content;
  padding: 50px;
  background-color: var(--quat-opacity);
  color: var(--primary);
  border-radius: 20px;
}
.user-profile img {
  width: 200px;
}
.search-bar {
  width: 100%;
  height: 45px;
  font-size: 1.1rem;
  padding: 15px;
  border-radius: 20px;
}
.Box {
  margin-top: 50px;
  padding: 50px;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 20px;
}
.select-year{
  position: relative;
  height: 0;
  right: -360px;
}